* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    font-weight: 400;
    font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $heading-font-family;
}

span {
    font-size: inherit;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border: 0;
    border-top: 1px solid #efefef;
}

img {
    max-width: 100%;
}

@include max-breakpoint(650px) {
    * {
        font-size: $base-font-size * 0.8;
    }
}
@include max-breakpoint(576px) {
    * {
        font-size: $base-font-size * 0.7;
    }
}
