* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 13px;
    @media (min-width: 800px) {
      font-size: 15px;
    }
    @media (min-width: 1200px) {
      font-size: 17px;
    }
  }

body {
    font-family: $base-font-family;
    font-weight: 400;
    font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $heading-font-family;
}

span {
    font-size: inherit;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border: 0;
    border-top: 1px solid #efefef;
}

img {
    max-width: 100%;
}
