.text-base {
    font-size: $base-font-size;
}
.text-sm {
    font-size: $font-sm;
}
.text-lg {
    font-size: $font-lg;
}
.text-xl {
    font-size: $font-xl;
}
.text-2xl {
    font-size: $font-2xl;
}
.text-3xl {
    font-size: $font-3xl;
}
.text-4xl {
    font-size: $font-4xl;
}
.text-5xl {
    font-size: $font-5xl;
}
.text-6xl {
    font-size: $font-6xl;
}
.text-7xl {
    font-size: $font-7xl;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    line-height: 1;
}

h1 {
    font-size: $font-4xl;
}
h2 {
    font-size: $font-3xl;
}
h3 {
    font-size: $font-2xl;
}
h4 {
    font-size: $font-xl;
}
h5 {
    font-size: $font-lg;
}
